<div class="bgbanner">
    <div class="container p-5">
      <div class="row">
        <div class="col-6">
          <h1 class="m-0 mb-3 fontsizee">Sim Taxi Premium</h1>
          <h1 class="m-0 mb-3 fontsizee">Experience</h1>
          <h1 class="text-muted mb-3">We make taxi ride a premium experience <br> with class</h1>
          <button type="button" class="btn btn-warning text-white w-150">Book Now</button>
        </div>
        <div class="col-6">
          <img class="logo" src="./assets/banner-taxi.png" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="mb-4">
    <div class="container">
        <div class="section-title">
            <h2>Our Cars</h2>
            <p>Customers trust our transportation</p>
        </div>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="./assets/taxi1.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="./assets/taxi2.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="./assets/taxi3.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mb-4">
  <div class="container">

      <div class="section-title">
          <h2>FAQ</h2>
          <p>Frequently Asked Questions</p>
      </div>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                reprehenderit, enim?
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                nim eiusmod high life?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Anim pariatur?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
  
  <div class="bgbanner">
    <div class="container p-5 text-algin-cent">
      <h2 class="text-muted font-weight-bold m-0 mb-1">Services</h2>
      <h2 class="font-weight-bold letterspace">Check out the great service we offer</h2>
      
      <div class="row">
  
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <mat-icon class="text-warning cardLogo">contactless</mat-icon>
              <h3 class="card-title font-weight-bold">Lorsen Sajala</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <mat-icon class="text-warning cardLogo">assignment_late</mat-icon>
              <h3 class="card-title font-weight-bold">Lorsen Sajala</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <mat-icon class="text-warning cardLogo">hide_source</mat-icon>
              <h3 class="card-title font-weight-bold">Lorsen Sajala</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <mat-icon class="text-warning cardLogo">calendar_view_week</mat-icon>
              <h3 class="card-title font-weight-bold">Lorsen Sajala</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  
